<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.food_product_comparison_android_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <queries>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <package android:name="com.facebook.katana" />

        <provider
            android:authorities="com.facebook.katana.provider.PlatformProvider"
            android:exported="false" /> <!-- allows app to access Facebook app features -->
        <provider
            android:authorities="com.facebook.orca.provider.PlatformProvider"
            android:exported="false" /> <!-- allows sharing to Messenger app -->
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food_Product_Comparison_Android_App">
        <activity
            android:name=".WebActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.food_product_comparison_android_app"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nutrition_pic_file_provider" />
        </provider>

        <activity
            android:name=".ChatBotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmProfileImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductInformationActivity"
            android:exported="false"
            android:parentActivityName=".ScanActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScanActivity" />
        </activity>
        <activity
            android:name=".StarredProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductFeedActivity"
            android:exported="false"
            android:parentActivityName=".ScanActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScanActivity" />
        </activity>
        <activity
            android:name=".ScanHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgottenPasswordActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".PasswordEmailSentActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>